<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home/index">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/home/jukebox.css}">
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content_left">
        <div>
            <p>전체보기</p>
            <p>내가 가진 음악</p>
            <p>노래방</p>
            <p>임시보관함</p>
        </div>
    </th:block>

    <th:block layout:fragment="content_right">
        <div>
            <div class="frow justify-space">
                <div>
                    <button>듣기</button>
                </div>
                <div>
                    <button>이동</button>
                    <button>배경음악 등록</button>
                </div>
            </div>
            <div>
                <table>
                    <colgroup>
                        <col width="5%">
                        <col width="15%">
                        <col width="60%">
                        <col width="20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="jukebox-check">
                        </th>
                        <th>
                            번호
                        </th>
                        <th>
                            곡명
                        </th>
                        <th>
                            아티스트
                        </th>
                    </tr>
                    </thead>

                    <tbody>
                    <tr>
                        <td>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </th:block>
</body>
</html>