.mypage {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mypage-detail {
    width: 400px;
    text-align: right;
    padding: 50px;
}

.mypage-detail label {
    display: flex;
    text-align: start;
    font-size: 10px;
    color: gray;
    padding-bottom: 3px;
}

.mypage-detail div {
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
}

.btns {
    align-items: center;
}

.btn {
    color: white;
    background-color: orange;
    border: solid orange;
    padding: 7px;
    font-weight: bold;
    font-size: 12px;
    border-radius: 10px;
    margin-left: 10px;
    margin-bottom: 30px;
}

h1 {
    text-align: center;
    padding: 30px;
}

.btn a {
    color: white;
}