<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="home/index">
<head>
    <meta charset="UTF-8">
    <script defer th:src="@{/js/home/commentObj.js}"></script>
    <script defer th:src="@{/js/home/visit.js}"></script>
    <link rel="stylesheet" th:href="@{/css/home/visit.css}">
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content_left">

    </th:block>

    <th:block layout:fragment="content_right">
        <div class="data-pk" th:data-loginuser="${loginUserPk}"></div>
        <div class="visit-container home-container">
            <div class="visit-write" th:if="${loginUserPk > 0}">
                <form class="visitFrm" th:method="post" th:action="@{/home/visit/write}">
                    <div class="frow bc-gray p10-10">
                        <div class="f1 fc">
                            <div>
<!--                                todo 미니미 설정-->
                                <img class="visit-minime" th:src="@{/static/img/defaultProfileImg.jpeg}">
                            </div>
                            <div class="w100p">
                                <select>
                                    <option>미니미 설정</option>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="f2">
                            <div class="w100p">
                                <input type="hidden" name="iuser" th:value="${loginUserPk}">
                                <input type="hidden" name="ihost" th:value="${param.iuser}">
                                <input type="hidden" name="ivisit" th:if="${modData != null}" th:value="${modData.get().getIvisit()}">
                                <div>
                                    <span>비밀로하기</span>
                                    <input type="checkbox" name="secret" th:value="true" th:if="${modData != null}" th:checked="${modData.get().isSecret() == true}">
                                    <input type="checkbox" name="secret" th:value="true" th:if="${modData == null}">
                                    <select>
                                        <option>글꼴</option>
                                    </select>

                                </div>
                                <div>
                                    <textarea name="ctnt" class="visit-textarea" placeholder="내용" th:if="${modData != null}" th:text="${modData.get().getCtnt()}"></textarea>
                                    <textarea name="ctnt" class="visit-textarea" placeholder="내용" th:if="${modData == null}"></textarea>
                                </div>
                                <div>
                                    <input type="submit" value="save" class="ins-visit">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="visit-contents">
                <th:block th:if="${data.size() == 0}">
                    <strong>방명록이 없습니다.</strong>
                </th:block>
                <th:block th:each="item : ${data}">
                    <div class="visit-elem mb10" th:data-iboard="${item.ivisit}">
                        <div th:data-iboard="${item.ivisit}" id="data-iboard"></div>
                        <div th:classappend="${item.secret} ? 'visit-secret-bar' : 'visit-date-bar'" id="status-bar">
                            <div>
                                <span th:text="|no.${item.ivisit}|"></span>
                                <span th:text="${item.iuser.nm}"></span>
                                <span th:text="|(${#temporals.format(item.rdt, 'yyyy-MM-dd')})|"></span>
                            </div>
                            <div>
                                <th:block th:if="${(#strings.equals(loginUserPk, param.iuser)
                                || #strings.equals(loginUserPk, item.iuser.iuser))
                                && !item.secret}">
                                    <span class="secret-elem">
                                        <span class="visit-secret">비밀로하기</span>
                                        <span>|</span>
                                    </span>
                                </th:block>
                                <th:block th:if="${(#strings.equals(loginUserPk, param.iuser)
                                || #strings.equals(loginUserPk, item.iuser.iuser))
                                && item.secret}">
                                    <span class="open-elem">
                                        <span class="visit-open">공개하기</span>
                                        <span>|</span>
                                    </span>
                                </th:block>
                                <th:block th:if="${#strings.equals(loginUserPk, param.iuser) || #strings.equals(loginUserPk, item.iuser.iuser)}">
                                    <span class="visit-del" th:data-iuser="${item.iuser.iuser}">삭제</span>
                                    <span>|</span>
                                    <span class="visit-mod" th:data-iuser="${item.iuser.iuser}">수정</span>
                                    <span>|</span>
                                </th:block>
                                <span class="visit-report">신고</span>
                            </div>
                        </div>

                        <div class="visit-ctnt frow g30">
                            <th:block th:if="${item.secret}">
                                <th:block th:if="${(#strings.equals(loginUserPk, param.iuser) || #strings.equals(loginUserPk, item.iuser.iuser))}">
                                    <img class="visit-minime" th:if="${item.iminime == 0}" th:src="@{/static/img/defaultProfileImg.jpeg}">
                                    <img class="visit-minime" th:if="${item.iminime != 0}" th:src="@{/pic/minime/{iminime}.jpg (iminime=${item.iminime})}">
                                    <div class="visit-mod-data" th:utext="${item.ctnt}"></div>
                                </th:block>

                                <th:block th:if="${(!#strings.equals(loginUserPk, param.iuser) && !#strings.equals(loginUserPk, item.iuser.iuser))}">
                                    <div class="secret-ctnt" th:text="'비밀이야 (이 글은 홈 주인과 작성자만 볼 수 있어요.)'"></div>
                                </th:block>
                            </th:block>


                            <th:block th:if="${!item.secret}">
                                <div class="frow g30">
                                    <img class="visit-minime" th:if="${item.iminime == 0}" th:src="@{/static/img/defaultProfileImg.jpeg}">
                                    <img class="visit-minime" th:if="${item.iminime != 0}" th:src="@{/pic/minime/{iminime}.jpg (iminime=${item.iminime})}">
                                    <div>
                                        <div class="visit-mod-data" th:utext="${item.ctnt}"></div>
                                        <div class="visit-mod-wrap"></div>
                                    </div>
                                </div>
                            </th:block>
                        </div>

                        <div class="comment-container" th:if="${item.secret == true && (#strings.equals(param.iuser, loginUserPk) || #strings.equals(item.iuser.iuser, loginUserPk))}">
                            <div>
                                <div class="input-cmt" sec:authorize="isAuthenticated()">
                                    <input type="text" name="ctnt" placeholder="댓글쓰기" class="ctnt">

                                    <button class="ctnt-btn">댓글쓰기</button>
                                </div>

                                <div>
                                    <span class="comment-cnt"></span>
                                </div>
                                <div class="hidden-ctnt">
                                    <div>
                                        <span class="comment-ctnt"></span>
                                    </div>
                                    <div class="pagination">

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="comment-container" th:if="${item.secret == false}">
                            <div>
                                <div class="input-cmt" sec:authorize="isAuthenticated()">
                                    <textarea name="ctnt" placeholder="댓글쓰기" class="ctnt"></textarea>

                                    <button class="ctnt-btn">댓글쓰기</button>
                                </div>

                                <div class="comment-cnt-wrap">
                                    <span class="comment-cnt"></span>
                                </div>
                                <div class="hidden-ctnt">
                                    <div>
                                        <span class="comment-ctnt"></span>
                                    </div>
                                    <div class="pagination">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </th:block>
            </div>
        </div>
    <div class="pagination">
        <a th:href="@{/home/visit(iuser=${param.iuser}, page=${(pageData.pop - 1) * pageData.pageCnt})}" th:if="${pageData.pop != 1}" th:text="'<'"></a>

        <th:block th:each="page : ${#numbers.sequence(pageData.startPage, pageData.lastPage)}">
            <a th:href="@{/home/visit(iuser=${param.iuser}, page=${page})}"
               th:text="${page}"
               th:if="${(page <= pageData.maxPage) && (!#strings.equals(param.page, page)) && (!#strings.equals(pageData.startPage, page) || !#strings.isEmpty(param.page))}"
               th:classappend="${(#strings.equals(param.page, page) || (#strings.isEmpty(param.page) && #strings.equals(page, 1)))} ? 'cur-page' : ''"></a>
            <span th:if="${(#strings.equals(param.page, page) || (#strings.isEmpty(param.page) && #strings.equals(page, 1)))}" class="cur-page" th:text="${page}"></span>
        </th:block>
        <a th:href="@{/home/visit(iuser=${param.iuser}, page=${pageData.lastPage + 1})}" th:if="${pageData.lastPage < pageData.maxPage}" th:text="'>'"></a>
    </div>
    </th:block>
</body>
</html>