<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home/index">
<head>
    <meta charset="UTF-8">
    <script defer th:src="@{/js/home/visit.js}"></script>
    <script defer th:src="@{/js/mynote.js}"></script>
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content_left">

</th:block>

<th:block layout:fragment="content_right">
    <div class="visit-write">
        <form class="visitFrm" th:method="post" th:action="@{/home/visit/write}">
            <input type="hidden" name="iuser" th:value="${loginUserPk}">
            <input type="hidden" name="ihost" th:value="${param.iuser}">
            <input type="hidden" name="ivisit" th:if="${modData != null}" th:value="${modData.getIvisit()}">
            <div class="frow justify-space">
                <div class="back-btn">
                    <a href="javascript:history.back();">방명록</a>
                </div>

                <div>
                    <label for="secret">
                        <input type="checkbox" id="secret" name="secret" th:value="true" th:if="${modData != null}" th:checked="${modData.isSecret() == true}">
                        <input type="checkbox" id="secret" name="secret" th:value="true" th:if="${modData == null}">
                        <span>비밀로하기</span>
                    </label>
                </div>
            </div>
            <div>
                <textarea class="my-note" name="ctnt" placeholder="내용" th:if="${modData != null}" th:text="${modData.getCtnt()}"></textarea>
                <textarea class="my-note" name="ctnt" placeholder="내용" th:if="${modData == null}"></textarea>
            </div>
            <div class="text-align-right mt10">
                <input type="submit" value="save">
            </div>
        </form>
    </div>
</th:block>
</body>
</html>