<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/index">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <link rel="stylesheet" th:href="@{/css/user/find_email.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>아이디 찾기</title>
</head>
<body>
    <th:block layout:fragment="container">
        <div class="find_eamil_page">
            <form method="post" action="/user/find_email">
                <h2>아이디 찾기</h2>
                <div class="find_email_input">
                    <div id="email" class="t_bottom">
                        <label>휴대폰 번호를 입력해 주세요</label>
                        <input type="text" name="email" placeholder="휴대폰 번호" >
                    </div>
                </div>
                <button type="submit" id="find_email_Bth" >
                    확인
                </button>
            </form>
        </div>
    </th:block>
</body>
</html>