<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/index">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <link rel="stylesheet" th:href="@{/css/user/find_upw.css}">
    <script defer th:src="@{/js/user/find_upw.js}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>비밀번호 찾기</title>
</head>
<body>
    <th:block layout:fragment="container">
        <div class="find_upw_page">
                <h2>비밀번호 찾기</h2>
                <div class="find_upw_input">
                    <div id="email" class="t_bottom t_bth">
                        <label>이메일을 입력해주세요</label>
                        <input type="text" name="email" placeholder="Email" >
                    </div>
                </div>
                <button type="submit" id="find_upw_Bth" >
                    전송
                </button>
        </div>

    </th:block>

</body>
</html>