<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/index">
<head>
    <link rel="stylesheet" th:href="@{/css/user/join.css}">
    <script defer th:src="@{/js/user/join.js}"></script>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>회원가입</title>
</head>
<body>
    <th:block layout:fragment="container">
        <div class="join_main_page">
            <form method="post" action="/user/join" id="joinForm">
                <h2>회원가입</h2>
                <div class="email_input_email ">
                    <div id="email" class="t_bottom">
                        <label>이메일</label>
                        <input type="text" name="email" placeholder="Email" >
                        <span class="hidden">error</span>
                    </div>
                    <div class="email_Chk">
                        <button id="idChk">중복확인</button>
                    </div>
                </div>
                <div class="cellphone-input">
                    <div id="cellphone" class="t_bottom">
                        <label>휴대번호 확인 </label>
                        <div class="in1">
                            <input id="cell-1" class="in2" type="text" name="cellPhone1" value="010" width="100px;">
                            <input id="cell-2" class="in2 in3" type="text" name="cellPhone2">
                            <input id="cell-3" class="in2 in3" type="text" name="cellPhone3">
                            <input type="hidden" name="cellphone" id="result-cell-phone">
                        </div>
                        <span  class="hidden">error</span>
                    </div>
                    <div class="cellPhone_Chk">
                        <button id="phoneChk">중복확인</button>
                    </div>
                </div>
                <div id="upw" class="t_bottom" >
                    <label>비밀번호</label>
                    <input type="password" name="upw" placeholder="password">
                    <span class="hidden">error</span>
                </div>
                <div id="upwChk" class="t_bottom">
                    <label>비밀번호 확인 </label>
                    <input type="password" name="upwChk" placeholder="password">
                    <span class="hidden">error</span>
                </div>
                <div id="name" class="t_bottom">
                    <label>이름</label>
                    <input type="text" name="nm" placeholder="이름">
                    <span class="hidden">error</span>
                </div>
                <button type="submit" id="joinBth" >
                    회원가입
                </button>

            </form>
        </div>
    </th:block>

</body>
</html>