<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link rel="stylesheet" th:href="@{css/login.css}">
    <script defer th:src="@{/js/user/login.js}"></script>
</head>
<title>로그인</title>
<body>

</div>
<form method="post" action="/user/login" id="loginForm">
    <div class="main_login">
        <div id="eamil">
            <label>아이디</label>
            <input type="text" name="uid" placeholder="id" >
        </div>
        <div id="upw">
            <label>비밀번호</label>
            <input type="text" name="upw" placeholder="password">
        </div>
        <button id="loginBth">
            로그인
        </button>
        <span th:text="${#request.getAttribute('errorMessage')}"></span>
        <button><a href="/user/join">회원가입</a></button>
    </div>
</form>
</body>
</html>