<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/index">
<head>
    <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
</head>
<title>내 정보 수정</title>
<body>
<th:block layout:fragment="container">
    <div class="mypage">
        <h1>내 정보</h1>
        <div class="mypage-detail">
            <label>이메일 : <span th:text="${loginUser.email}"></span></label>
            <label>연락처 : <span th:text="${loginUser.cellphone}"></span></label>
            <label>이름 : <span th:text="${loginUser.nm}"></span></label>
            <label>보유 도토리 : <span th:text="${loginUser.point}"></span></label>
        </div>
        <div class="btns">
            <button class="btn"><a href="/user/change_upw">비밀번호 변경</a></button>
            <button class="btn"><a href="/user/charge">포인트 충전</a></button>
        </div>
    </div>
</th:block>

</body>
</html>