<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/index">
<head>
    <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
</head>
<title>내 정보</title>
<body>
<th:block layout:fragment="container">
    <div class="mypage">
        <h3>내 정보</h3>
        <div class="mypage-detail">
            <label>이메일</label><div th:text="${loginUser.email}"></div>
            <label>연락처</label><div th:text="${loginUser.cellphone}"></div>
            <label>이름</label><div th:text="${loginUser.nm}"></div>
            <label>보유 도토리</label><div th:text="${loginUser.point}"></div>
        </div>
        <div class="btns">
            <button class="btn"><a href="/user/change_upw">비밀번호 변경</a></button>
            <button class="btn"><a href="/user/charge">포인트 충전</a></button>
            <button class="btn"><a href="/user/shopHistory">구매 내역</a></button>
        </div>
    </div>
</th:block>

</body>
</html>