<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="home/index">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/home/diary.css}">
    <script defer th:src="@{/js/home/diary.js}"></script>
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content_left">
        <a th:href="@{#}"><li>폴더</li></a>
    </th:block>

    <th:block layout:fragment="content_right">
        <div class="diary-write">
            <div>
                <input type="date" class="diary-calendar">
            </div>
            <th:block th:if="${#strings.equals(loginUser, param.iuser)}">
                <a th:href="@{/home/diary/write(iuser=${param.iuser})}">글쓰기</a>
            </th:block>
        </div>
        <div class="home-container">
            <th:block th:each="item : ${data}">
                <div class="diary-data">
                    <div>
                        <div class="date-bar">
                            <div>
                                <span th:text="${#temporals.format(item.rdt, 'yyyy.MM.dd')}"></span>
                            </div>
                            <div class="item-bar">
                                <span th:if="${#strings.equals(loginUser, param.iuser)}">
                                    <a th:href="@{/home/diary/write(idiary=${item.idiary}, iuser=${item.ihost})}" class="diary-mod">수정</a>
                                    <span>|</span>
                                    <a href="#" class="diary-del" th:data-idiary="${item.idiary}">삭제</a>
                                </span>
                                <span th:if="${!#strings.equals(loginUser, param.iuser)}">
                                    <span th:if="${#strings.equals(loginUser, param.iuser)}">|</span>
                                    <a href="#" class="diary-report">신고</a>
                                </span>
                            </div>
                        </div>
                        <div class="diary-content">
                            <div class="time-div">
                                <span th:text="${#temporals.format(item.rdt, 'HH:mm')}"></span>
                            </div>
                            <div>
                                <span th:utext="${item.ctnt}" class="diary-ctnt"></span>
                            </div>
                        </div>
                    </div>

                    <!--        TODO 로그인 한 회원만 작성할 수 있게       -->
                    <div class="diary-comment-container">
                        <form action="" th:method="post">
                            <div class="input-cmt">
                                <input type="text" name="ctnt" placeholder="댓글쓰기" class="ctnt">
                                <input type="submit" th:value="댓글등록" class="ctnt-btn">
                            </div>
                        </form>
                    </div>
                </div>
            </th:block>
        </div>
    </th:block>
</body>
</html>