<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="home/index">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/home/diary.css}">
    <script defer th:src="@{/js/home/commentObj.js}"></script>
    <script defer th:src="@{/js/home/diary.js}"></script>
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content_left">
        <a th:href="@{#}"><li>폴더</li></a>
    </th:block>

    <th:block layout:fragment="content_right">
        <div class="diary-write">
            <div class="frow">
                <input type="date" class="diary-calendar">
                <div class="board-btn">
                    <a href="#" class="date-search-btn">검색</a>
                </div>
                <div class="board-btn">
                    <a th:href="@{/home/diary(iuser=${param.iuser})}" class="date-search-reset">전체검색</a>
                </div>
            </div>
            <th:block th:if="${#strings.equals(loginUserPk, param.iuser)}">
                <div class="board-btn">
                    <a th:href="@{/home/diary/write(iuser=${param.iuser})}">글쓰기</a>
                </div>
            </th:block>
        </div>
        <div class="home-container">
            <span class="empty-data" th:if="${data.size() == 0}" th:text="'다이어리 글이 없습니다'"></span>
            <th:block th:each="item : ${data}">
                <div class="diary-data">
                    <div id="data-iboard" th:data-iboard="${item.idiary}"></div>
                    <div id="data-ihost" th:data-ihost="${item.ihost}"></div>
                    <div>
                        <div class="date-bar">
                            <div>
                                <span th:text="${#temporals.format(item.rdt, 'yyyy.MM.dd')}"></span>
                            </div>
                            <div class="item-bar">
                                <span th:if="${#strings.equals(loginUserPk, param.iuser)}">
                                    <a th:href="@{/home/diary/write(idiary=${item.idiary}, iuser=${item.ihost})}" class="diary-mod">수정</a>
                                    <span>|</span>
                                    <a href="#" class="diary-del" th:data-idiary="${item.idiary}">삭제</a>
                                </span>
                                <span th:if="${!#strings.equals(loginUserPk, param.iuser)}">
                                    <span th:if="${#strings.equals(loginUserPk, param.iuser)}">|</span>
<!--                                    <a href="#" th:if="${!#strings.equals(param.iuser, loginUserPk) && !#strings.equals(loginUserPk, '0')}" class="diary-report">신고</a>-->
                                </span>
                            </div>
                        </div>
                        <div class="diary-content">
                            <div class="time-div">
                                <span th:text="${#temporals.format(item.rdt, 'HH:mm')}"></span>
                            </div>
                            <div class="cmt-word-break">
<!--                                <div><a th:if="${item.iscrap > 0}" th:href="@{/home(iuser=${item.iscrap})}"><span class="color-sky">[스크랩] </span></a></div>-->
                                <span th:utext="${item.ctnt}" class="diary-ctnt"></span>
                            </div>
<!--                            <div class="scrap-div" th:if="${!#strings.equals(loginUserPk, param.iuser)}">-->
<!--                                <span class="scrap">스크랩</span>-->
<!--                            </div>-->
                        </div>
                    </div>

                    <!--        TODO 로그인 한 회원만 작성할 수 있게       -->
                    <div class="comment-container">
                        <div>
                            <div class="input-cmt" sec:authorize="isAuthenticated()">
                                <textarea name="ctnt" placeholder="댓글쓰기" class="ctnt"></textarea>

                                <button class="ctnt-btn">댓글쓰기</button>
                            </div>

                            <div class="comment-cnt-wrap">
                                <span class="comment-cnt"></span>
                            </div>
                            <div class="hidden-ctnt">
                                <div>
                                    <span class="comment-ctnt"></span>
                                </div>
                                <div class="pagination">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
        <div class="pagination">
            <a th:href="@{/home/diary(iuser=${param.iuser}, page=${(pageData.pop - 1) * pageData.pageCnt}, searchRdt=${param.searchRdt})}" th:if="${pageData.pop != 1}" th:text="'<'"></a>
            <th:block th:each="page : ${#numbers.sequence(pageData.startPage, pageData.lastPage)}">
                <a th:href="@{/home/diary(iuser=${param.iuser}, page=${page}, searchRdt=${param.searchRdt})}"
                   th:text="${page}"
                   th:if="${(page <= pageData.maxPage) && (!#strings.equals(param.page, page)) && (!#strings.equals(pageData.startPage, page) || !#strings.isEmpty(param.page))}"
                   th:classappend="${(#strings.equals(param.page, page) || (#strings.isEmpty(param.page) && #strings.equals(page, 1)))} ? 'cur-page' : ''"></a>
                <span th:if="${(#strings.equals(param.page, page) || (#strings.isEmpty(param.page) && #strings.equals(page, 1)))}" class="cur-page" th:text="${page}"></span>
            </th:block>
            <a th:href="@{/home/diary(iuser=${param.iuser}, page=${pageData.lastPage + 1}, searchRdt=${param.searchRdt})}" th:if="${pageData.lastPage < pageData.maxPage}" th:text="'>'"></a>
        </div>

<!--        <div class="diary-report-modal">-->
<!--            <div class="diary-report-ctnt">-->
<!--                <div>-->
<!--                    <span>글 번호 : </span>-->
<!--                    <span id="report-iboard"></span>-->
<!--                    <input type="hidden" id="diary-ihost">-->
<!--                </div>-->
<!--                <div>-->
<!--                    <textarea class="diary-report-textarea" placeholder="신고사유"></textarea>-->
<!--                </div>-->
<!--                <div>-->
<!--                    <button id="report-submit-btn">제출</button>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="diary-report-close">-->
<!--                x-->
<!--            </div>-->
<!--        </div>-->
    </th:block>
</body>
</html>