<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home/index">
<head>
    <meta charset="UTF-8">
    <script defer th:src="@{/js/home/diary.js}"></script>
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content_left">

    </th:block>

    <th:block layout:fragment="content_right">
        <div id="diary-write-elem">
            <div>
                <a href="javascript:history.back();">이전 페이지로 이동</a>
            </div>
            <form th:method="post" th:action="@{/home/diary/write}">
                <input type="hidden" name="ihost" th:value="${#strings.equals(loginUserPk, param.iuser)} ? ${loginUserPk} : 0">
                <input type="hidden" name="idiary" th:if="${param.idiary != null}" th:value="${param.idiary}">
                <div>
                    <select class="select-font" name="ifont">
                        <option value="0">글꼴선택</option>
                        <th:block th:each="font : ${font}">
                            <option th:selected="${#strings.equals(modData.get().getIfont().item_id, font.item_id.item_id)}" th:data-font="${font.item_id.file}" th:value="${font.item_id.item_id}" th:text="${font.item_id.nm}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <textarea class="diary-write-textarea" name="ctnt" placeholder="내용" th:if="${modData == null}"></textarea>
                    <textarea class="diary-write-textarea" name="ctnt" placeholder="내용" th:if="${modData != null}" th:text="${modData.get().getCtnt()}"></textarea>
                </div>
                <div>
                    <input type="submit" value="save">
                </div>
            </form>
        </div>
    </th:block>
</body>
</html>