:root {
    --background-default : #ffffff;
    --border-color-default: #eaeaea;
    --forecolor-default: #00050a;

    --font-style-default: 'Noto Sans KR', sans-serif;;
    --font-style-nanum: 'Nanum Gothic', sans-serif;
    --font-color-default: #212529;

    --main-color-default: #e66f27;  /* 주황색 */

    /*--width-max: 70%;*/
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-style-default);
}

a {
    color: var(--font-color-default);
    text-decoration: none;
}

.hidden { visibility: hidden; }

.home-container {
    overflow: scroll;
    overflow-x: hidden;
    height: 89%;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.frow {
    display: flex;
    flex-direction: row;
}

.home-container > div {
    margin-bottom: 10px;
}

.f1 {
    display: flex;
    flex: 1;
}
.f2 {
    display: flex;
    flex: 2;
}
.f3 {
    display: flex;
    flex: 3;
}

.bc-white {
    background-color: white;
}

.bc-gray {
    background-color: #e3e3e3;
}

.w100p {
    width: 100%;
}

.mb10 {
    margin-bottom: 10px;
}

.cur-pointer:hover {
    cursor: pointer;
}

.p10-10 {
    padding: 10px 10px;
}

.g30 {
    gap: 30px;
}

.just-center {
    justify-content: center;
}

.justify-space {
    justify-content: space-between;
}

.fc {
    flex-direction: column;
}

.msg-alarm {
    position: fixed;
    right: 0;
    top: 0;
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 5px 0px black;
    margin-right: 10px;
    margin-top: 10px;
}

.msg-alarm:hover {
    cursor: pointer;
}
