:root {
    --background-default : #ffffff;
    --border-color-default: #eaeaea;
    --forecolor-default: #00050a;

    --font-style-default: 'Noto Sans KR', sans-serif;;
    --font-style-nanum: 'Nanum Gothic', sans-serif;
    --font-color-default: #212529;

    /*--width-max: 70%;*/
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-style-default);
}

.frow {
    display: flex;
    flex-direction: row;
}

.f1 {
    display: flex;
    flex: 1;
}
.f2 {
    display: flex;
    flex: 2;
}

.bc-gray {
    background-color: #e3e3e3;
}

.w100p {
    width: 100%;
}