<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="home/index">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block layout:fragment="content_left">

</th:block>

<th:block layout:fragment="content_right">
    <div>
        <form th:method="post" th:action="@{/home/profile/write}">
            <input type="hidden" name="ihost" th:value="${param.iuser}">
            <div>
                <textarea name="ctnt" placeholder="내용"></textarea>
                <input type="file" name="img" multiple>
            </div>
            <div>
                <input type="submit" value="save">
            </div>
        </form>
    </div>
</th:block>
</body>
</html>