<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.CyProject.home.model.home.HomeMessageMapper">
    <select id="selMessage" resultType="int">
        SELECT COUNT(`imsg`)
        FROM `cyworld`.`home_message`
        WHERE `ihost` = #{ihost}
          AND `writer` = #{writer}
    </select>

    <update id="updMessage">
        UPDATE `cyworld`.`home_message`
        SET `ctnt` = #{ctnt}
        WHERE `ihost` = #{ihost}
          AND `writer` = #{writer}
    </update>

    <select id="selMessageList" resultType="HomeMessageEntity">
        SELECT A.*, B.`nm` AS nm, C.`nickname` AS nickname
        FROM `cyworld`.`home_message` AS A
                 LEFT JOIN `cyworld`.`user` AS B ON (A.`writer` = B.`iuser`)
                 LEFT JOIN `cyworld`.`friends` AS C ON (A.`ihost` = C.`iuser` AND A.`writer` = C.`fuser`)
        WHERE C.`iuser` = #{ihost}
        ORDER BY A.`rdt` DESC
    </select>
</mapper>