.diary-container {
    overflow: scroll;
    overflow-x: hidden;
    height: 89%;
}

.diary-container > div {
    margin-bottom: 10px;
}

.date-bar {
    background-color: #d9e0e3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.item-bar a, .item-bar span {
    font-size: 10px;
    color: gray;
    text-decoration: none;
}

.diary-content {
    margin-bottom: 30px;
}

.diary-content > div {
    padding-left: 20px;
    padding-top: 15px;
}

.time-div {
    margin-bottom: 20px;
}

.time-div > span {
    background-color: #ecf1f3;
    color: #7ba3fa;
}

.diary-write {
    text-align: right;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
}

.diary-write > a {
    text-decoration: none;
    font-size: 15px;
}

.diary-report-modal {
    position: absolute;
    top: calc(50vh - 100px); left: calc(50vw - 200px);
    background-color: white;
    display: none; justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 400px;
    height: 200px;
    border: 1px solid black;
}

.diary-report-textarea {
    width: 308px;
    height: 102px;
    border: 1px solid black;
    resize: none;
}

.diary-report-ctnt {
    display: flex;
    flex-direction: column;
}

.diary-report-close {
    position: absolute;
    right: 14px;
    top: 4px;
}
.diary-report-close:hover {
    cursor: pointer;
}

.diary-write-textarea{
    width: 460px;
    height: 150px;
    border: 1px solid black;
    resize: none;
}

.diary-save {
    text-align: right;
}