*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: var(--font-style-default);
}

html, body {
    height: 100%;
}

.background {
    background: url('/static/img/home_bg.png') no-repeat center / 100% 100%; height: 100%; display: flex; justify-content: center; align-items: center;
}

.box {
    padding: 100px; background: white; border: 1px solid; position: relative;
}

.img-box {
    text-align: center;
}

.img-box > img {
    width: 100px; height: auto;
}

.err {
    margin: auto;
}

.friend {
    position: absolute;
    top: 10px;
    right: 10px;
}

.friend > a {
    color: #00aaff;
    text-decoration: none;
}

.friend > a:hover {
    color: #005a86;
}

.save-btn {
    text-align: right;
    margin-top: 10px;
}

.hidden {
    position: absolute;
    display: none;
    padding: 100px;
    background: white;
}