html {
    overflow: hidden;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

.wrap {
    width: 1189px;
    height: 600px;
    background: url("/static/img/home_bg.png") no-repeat center / 100% 100%;
    display: flex;
    align-items: center;
    padding: 2rem;
}

.wrap .home-bg {
    width: 808px;
    height: 544px;
    background: url("/static/img/home_blue.png") no-repeat center / 100% 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section.left {
    width: 27%;
}

.section.right {
    width: 70%;
}

.section.left .content {
    padding: 1rem;
}

.section.right .content {
    padding: 2rem;
    overflow: scroll;
}

.section .header {
    height: 5%;
}

.section .content {
    height: 90%;
    background-color: #fff;
    border: 0.0625rem solid #b2b2b2;
    border-radius: 0.5rem;
    font-size: 0.9rem;
}

.header.cnt p {
    font-size: 0.7rem;
    text-align: center;
    padding-top: 1rem;
}

.header.title {
    display: flex;
    align-items: center;
}

.header.title h1 {
    font-size: 1.1rem;
    padding: 0.6rem 0 0 0.5rem;
    margin-right: 0.8rem;
}

.header.title input {
    border: 0.0625rem solid #333333;
    border-radius: 0.3rem;
    font-family: 'DOSGothic';
    font-size: 0.5rem;
    padding: 0.2rem;
    margin-top: 0.35rem;
}

.tab-menu > a {
    background-color: #eee;
    position: absolute;
    left: 812px;
    background-color: #127caf;
    width: 70px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
}

.tab1 {
    top: 107px;
}

.tab2 {
    top: 145px;
}

.tab3 {
    top: 183px;
}

.tab4 {
    top: 221px;
}

.tab5 {
    top: 259px;
}

.tab6 {
    top: 297px;
}

.tab7 {
    top: 335px;
}

.tab8 {
    top: 373px;
}

.menu-checked {
    background-color: #eee !important;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-left: none !important;
    color: black !important;
}

/*.home-container {*/
/*    overflow: scroll;*/
/*    overflow-x: hidden;*/
/*    height: 89%;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*}*/

.home-container > div {
    margin-bottom: 10px;
}

.pagination {
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: black;
}

.cur-page {
    color: red !important;
}

.cur-folder {
    font-weight: bold;
    text-decoration: underline;
}

.idx-audio {
    position: absolute;
    width: 200px;
    right: 70px;
}

.hidden-ctnt {
    display: none;
    flex-direction: column;
}

.comment-cnt:hover {
    cursor: pointer;
}

.user-img {
    max-height: 100%;
    max-width: 100%;
}

.user-img img {
    width: 75px;
    height: auto;
}

.comment-wrap {
    margin-bottom: 15px;
}

.comment-rdt {
    color: gray;
}

.comment-sec {
    margin-left: 10px;
}

.comment-sec p {
    margin-bottom: 5px;
}

.comment-writer-nm {
    color: #00aaff;
    margin-right: 5px;
}

.cmt-word-break {
    word-break: break-all;
    padding: 3px 5px;
    display: flex;
}

.cmt-first-child {
    min-width: 44px;
}

.input-cmt {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    gap: 10px;
}

.ctnt {
    flex: 1;
    height: 35px;
    resize: none;
}

.comment-cnt-wrap {
    padding: 3px 5px;
}

.selected {
    color: red;
    text-decoration: underline;
}

.hover-pointer:hover {
    cursor: pointer;
}


.audio-section {
    position: absolute;
    right: 100px;
    top: 108px;
    border: 1px solid;
    padding: 10px;
    background: white;
    border-radius: 10px;
}

.audio-section:hover {
    cursor: pointer;
}

.scrap-div {
    text-align: right;
    padding-right: 10px;
}

.scrap {
    font-size: 10px;
    color: gray;
}

.scrap:hover {
    cursor: pointer;
}

/* left profile */
.profile-img {
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
}

.profile-img img {
    width: 100%;
}

.profile-ctnt {
    width: 100%;
    height: 10rem;
    margin-bottom: 0.5rem;
    overflow: scroll;
}

.profile-history {
    font-size: 0.7rem;
    margin-bottom: 0.5rem;
}

.profile-history p span {
    color: var(--main-color-default);
    font-size: 0.6rem;
}

.profile-name span {
    color: #0a1056;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 800;
}

.color-sky {
    color : #00aaff;
}

.display-none {
    display: none;
}

.back-btn {
    margin-bottom: 10px;
}
.back-btn > a {
    text-decoration: underline;
    color: #00aaff;
}

.back-btn > a:hover {
    color: #0f587a;
}