.line {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: rgba(0, 0, 0, 0.35);
    font-size: 14px;
    margin: 8px 0px;
}

.line::before {
    content:"";
    flex-grow: 1;
    margin: 0px 16px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

.line::after {
    content:"";
    flex-grow: 1;
    margin: 0px 16px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}

table {
    border-collapse: collapse;
    width: calc(100% - 32px);
    margin-left: 16px;
}

td, th {
    border: 1px solid black;
}

td {
    text-align: center;
}

.manage-save-btn {
    text-align: right;
    margin-right: 16px;
    margin-top: 10px;
}

.manage_container {
    overflow-y: scroll;
    height: 99%;
}

.manage-content {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 32px);
    margin-left: 16px;
}