.current {
    width: 100%;
    height: 90%;
    margin-bottom: 3rem;
}

.current .room-name {
    width: 100%;
    background-color: #f2f2f2;
    border-top: 0.1rem solid #dcdcdc;
    color: #343434;
    text-align: center;
    /*font-size: 0.85rem;*/
    font-weight: 800;
    padding: 0.3rem 0;
}

.current div img {
    width: 100%;
}



.select-room {
    display: flex;
    flex-direction: column;
}

.select-room h2 {
    width: 100%;
    color: #54a2be;
    font-size: 0.8rem;
    font-weight: 800;
    line-height: 1.2rem;
    margin-bottom: 1.3rem;
}

.select-room h2::after {
    content: "";
    width: 100%;
    border-bottom: 0.0625rem solid #dcdcdc;
    display: block;
}

.select-room .btn-cont {
    padding: 0 1.5rem;
}

.select-room form .select-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 1rem;
}

.select-room form .select-cont .room-cont {
    width: 48%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.select-room form .select-cont .room-cont div {
    width: 95%;
    font-family: 'EliceDigitalBaeum_Bold';
    text-align: center;
}

.select-room form .select-cont .room-cont div img {
    width: 100%;
}

.select-room form .select-cont .room-cont label {
    margin-top: 0.3rem;
}