.visit-secret-bar {
    padding: 10px 0px;
    background-color: #ffeed1;
    border-top: 3px solid #eed8b5;
    font-size: 10px;
}

.visit-date-bar {
    padding: 10px 0px;
    background-color: #aaaec0;
    border-top: 3px solid #9497a4;
    font-size: 10px;
}

.visit-ctnt {
    min-height: 200px;
    padding: 15px 10px;
}

.secret-ctnt {
    color: #e7a02f;
    font-size: 15px;
}

.pagination {
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: black;
}

.cur-page {
    color: red !important;
}