.visit-container {
    overflow: scroll;
    overflow-x: hidden;
    height: 99%;
    padding-left: 10px;
    padding-right: 10px;
}

.visit-top-menu {
    padding: 10px 10px;
    text-align: right;
}

.visit-top-menu > a {
    text-decoration: none;
    font-size: 15px;
}

.visit-minime {
    width: 115px;
    height: auto;
    object-fit: cover;
}

.visit-secret-bar {
    padding: 10px 10px;
    background-color: #ffeed1;
    border-top: 3px solid #eed8b5;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.visit-secret-bar > div:nth-child(2) span {
    color: gray;
}

.visit-del:hover, .visit-mod:hover, .visit-secret:hover, .visit-report:hover, .visit-open:hover {
    cursor: pointer;
    color: red !important;
}

.visit-date-bar {
    padding: 10px 10px;
    background-color: #aaaec0;
    border-top: 3px solid #9497a4;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}

.visit-date-bar > div:nth-child(2) span {
    color: gray;
}

.visit-ctnt {
    min-height: 200px;
    padding: 15px 10px;
}

.secret-ctnt {
    color: #e7a02f;
    font-size: 15px;
}

.visit-textarea {
    width: 265px;
    height: 102px;
    border: 1px solid black;
    resize: none;
}