<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script defer src="/static/js/home/audio.js"></script>
    <link rel="stylesheet" href="/static/css/home/audio.css">
    <title>Title</title>
</head>
<body>
<div class="repre-audio">
    <div class="audio-player-wrap">
        <audio class="audio-player" controls></audio>
    </div>
    <div class="audio-table-div">
        <table>
            <thead>
            <tr>
                <th>제목</th>
                <th>가수</th>
                <th></th>
            </tr>
            </thead>
            <tbody class="play-list-body">

            </tbody>
        </table>
    </div>
</div>
</body>
</html>