<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="home/index">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/home/home.css}">
    <script th:src="@{/js/home/home.js}" defer></script>
    <title>Title</title>
</head>
<body>
    <th:block layout:fragment="content_right">
        <div class="home-container">
            <span class="sunflower">썬 플라워</span>
            <span class="hi-melody">썬 플라워</span>
            <span class="gugi">썬 플라워</span>
            <span class="single-day">썬 플라워</span>
            <span class="dongle">썬 플라워</span>
            <div class="board">
                <div class="update-list">
                    <h2>Updated news</h2>
                    <div class="news">
                        <div class="default-message" th:if="${news.isEmpty()}">
                            <p>등록된 게시물이 없습니다.</p>
                            <p>소식이 뜸한 친구에게 마음의 한마디를 남겨주세요.</p>
                        </div>
                        <div class="news-list" th:if="${!news.isEmpty()}">
                            <div class="news-item" th:each="item, index : ${news}">
                                <div th:if="${index.index} < 4">
                                    <span>•</span><div th:text="${item.scrap} ? '[스크랩] ' + ${item.iphoto.title} : ${item.iphoto.title}"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="board-list">
                    <table>
                        <tr>
                            <td class="board-menu">
                                <a th:href="@{/home/profile(iuser=${param.iuser})}">프로필</a>
                            </td>
                            <td class="board-menu"></td>
                        </tr>
                        <tr>
                            <td class="board-menu"></td>
                            <td class="board-menu"></td>
                        </tr>
                        <tr>
                            <td class="board-menu"></td>
                            <td class="board-menu"></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="miniroom">
                <h2>Miniroom</h2>
                <div class="miniroom-cont">
                    <div th:if="${isRoom == 0}">
                        <img th:src="@{/img/miniroom/miniroom_gray.jpg}">
                    </div>
                    <div th:unless="${isRoom == 0}">
                        <img th:src="@{${myRoom.myroom.file}}" onerror="this.onerror=null; this.src='/img/miniroom/miniroom_blue.jpg'">
                    </div>
                </div>
            </div>
            <div class="friend-comment">
                <h2>What friends say</h2>
                <div class="friend-comment-cont">
                    <div class="friend-comment-write" th:if="${isFriend == 1}">
                        <form id="friend-comment-form" th:method="post" th:action="@{/ajax/home/friendComment/write}">
                            <span>일촌평</span>
                            <div class="write-cont">
                                <input type="hidden" name="ihost" th:value="${param.iuser}">
                                <input type="hidden" name="writer" th:value="${loginUserPk}">
                                <label class="ctnt">
                                    <input type="text" name="ctnt" placeholder="일촌과 나누고 싶은 이야기를 남겨보세요~!">
                                </label>
                            </div>
                            <div class="btn-cont">
                                <div class="board-btn">
                                    <input type="button" name="save" th:value="확인">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="friend-comment-list">

                    </div>
                </div>
            </div>
        </div>
    </th:block>

</body>
</html>