<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title></title>
    <link rel="stylesheet" th:href="@{/css/font.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/home/index.css}">
    <script defer th:src="@{/js/home/common.js}"></script>
</head>
<body>
<div class="home-common-pk" th:data-pk="${loginUserPk}"></div>
    <div class="wrap">
        <div class="home-bg">
            <div class="section left">
                <div class="header cnt">
                </div>
                <div class="content">
                    <div class="profile-container">
                        <div class="profile-img">

                        </div>
                        <div class="profile-ctnt">

                        </div>

                        <div class="profile-history">
                            <a href="#">
                                <p><span>&#9654;</span> HISTORY</p>
                            </a>
                        </div>
                        <div class="profile-name">

                        </div>
                    </div>
                </div>
            </div>

            <div class="section right">
                <div class="header title"></div>
                <div class="content">
                    <th:block layout:fragment="content_right">

                    </th:block>
                </div>
            </div>
            <div class="tab-menu">
                <a th:href="@{/home(iuser=${param.iuser})}" class="tab1 home"><div>홈</div></a>
                <a th:href="@{/home/profile(iuser=${param.iuser})}" class="tab2 profile"><div>프로필</div></a>
            </div>
        </div>
<!--        <div class="audio-section">-->
<!--            <span>배경음악듣기</span>-->
<!--        </div>-->
    </div>
</body>
</html>