table {
    border-collapse: collapse;
    width: 300px;
}

td, th {
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 0px;
}

tr:hover {
    cursor: pointer;
    background-color: gray;
}

.msg-menu {
    display: flex;
    flex-direction: column;
}

.msg-menu > div {
    text-align: center;
    margin-top: 22px;
}

.cus-textarea {
    width: 500px;
    height: 400px;
    border: 1px solid black;
    resize: none;
}

.friend-container {
    margin-right: 200px;
    margin-left: 100px;
}

.friend-list {
    padding-bottom: 15px;
}

.read-msg {
    color: #d3d3d3;
}

.unread-msg {
    color: black;
}

.message-container {
    display: flex;
}

.message-box {
    display: flex;
    justify-content: center;
}

.msg-table {
    width: 874px;
}