<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <script defer th:src="@{/js/main/main.js}"></script>
    <script th:src="@{/js/main/friendfind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/main/friendfind.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">
    <title>친구찾기</title>
</head>
<body>
    <div id="friend-find">
        <div th:data-iuser="${loginUserPk}" id="loginUserPk"></div>
        <h1 class="hd-1"><a style="text-decoration: none" href="/friendfind">친구찾기</a></h1>
        <div>
            <form action="/friendfind" method="POST" role="search">
                <div class="label-1-1">
                    <label class="label-1">친구 검색하기</label>
                    <label class="label-2">ex)이름,이메일,휴대폰번호</label>
                </div>
                <div class="input-container">
                    <div class="find-input-header">
                        <input type="hidden" name="category" value="1">
                        <input id="find_user" name="search" type="text" placeholder="입력해주세요.">
                        <button class="findadd-bth">
                            찾기
                        </button>
                    </div>
                    <div class="f-header">
                        <a style="text-decoration: none" th:href="@{/friendfind(category=2)}" >신청현황</a>
                    </div>
                </div>
            </form>
            <div class="table-container" th:if="${#strings.equals(param.category, 1)}">
                <table>
                    <tbody>
                    <tr th:each="item : ${select}">
                        <td class="each-nm" th:text="${item.nm}"></td>
                        <td class="each-email" th:text="|(${item.email})|"></td>
                        <td class="each-cellphone" th:text="${item.cellphone}"></td>
                        <td class="each-bth"><button id="add-friend" th:data-fuser="${item.iuser}">친구추가</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div th:if="${#strings.equals(param.category, 2)}">
            <div class="friend-list-wrap">
                <div class="friend-add-wrap">
                    <label class="label-1">신청상태</label>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${selectfuser}">
                            <td class="each-nm-1" th:text="${item.nm}"></td>
                            <td class="each-email-1" th:text="|(${item.email})|"></td>
                            <td class="each-cellphone-1" th:text="${item.cellphone}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="friend-push-wrap">
                    <label class="label-1">수락요청</label>
                    <table>
                        <thead>
                        </thead>
                        <tbody>
                            <tr th:each="item : ${receiver}">
                                <td class="each-nm-1" th:text="${item.nm}"></td>
                                <td class="each-email-1" th:text="|(${item.email})|"></td>
                                <td class="each-cellphone-1" th:text="${item.cellphone}"></td>
                                <td>
                                    <button th:data-fuser="${item.iuser}" id="accept-btn">친구수락</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="friend-modal">
        <div class="modal_background"></div>
        <div class="modal_wrap">
            <div class="modal_close"></div>
            <div for="nickname" class="nickname-wrap">
                <label class="label-3">닉네임(별명)</label>
                <div class="nickname-input-wrap" id="nickname-input-frm">
                    <input type="text" id="nickname" placeholder="입력해주세요.">
                </div>
                <button id="nickname_bth">확인</button>
            </div>
        </div>
    </div>
</body>
</html>