<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head lang="en" xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8">
    <script th:src="@{/js/main/friendfind.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/main/friendfind.css}">
    <title>친구찾기</title>
</head>
<body>
        <div>
            <h1>친구찾기</h1>
            <div class="f-header">
                <h3><a th:href="@{/friendfind(iuser=${loginUserPk}, category=1)}" >친구찾기</a></h3><h3>/</h3>
                <h3><a th:href="@{/friendfind(iuser=${loginUserPk}, category=2)}" >신청현황</a></h3>
            </div>
            <div th:if="${#strings.equals(param.category, 1)}">
                <form action="/friendfind" method="POST" role="search">
                    <div>
                        <select id="select">
                            <option value="nm,email">전체검색</option>
                            <option value="nm">이름</option>
                            <option value="email">이메일</option>
                        </select>
                        <input id="find_user" name="search" type="text" placeholder="이메일을 입력해주세요.">
                        <button>
                            찾기
                        </button>
                    </div>
                </form>
                <div>
                    <table>
                        <thead>
                        <tr>
                            <th>번호</th>
                            <th>이름</th>
                            <th>이메일</th>
                            <th>친구요청</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="item : ${select}">
                            <td th:text="${item.iuser}"></td>
                            <td th:text="${item.nm}"></td>
                            <td th:text="${item.email}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div th:if="${#strings.equals(param.category, 2)}">
                신청현황
            </div>
        </div>
</body>
</html>