<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="main/index">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>추억의 싸이월드</title>
    <script defer src="https://use.fontawesome.com/releases/v6.1.1/js/all.js" integrity="sha384-xBXmu0dk1bEoiwd71wOonQLyH+VpgR1XcDH3rtxrLww5ajNTuMvBdL5SOiFZnNdp" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main/main.css}">
</head>
<body>

<th:block layout:fragment="container">
<div class="container">

    <div class="left-container">
        <div th:if="${loginUserPk > 0}" class="profile">
            <div class="profile-top">
                <p th:text="${loginUser.getNm()}"></p>
                <button><a th:href="@{/user/mypage}">내 정보수정</a></button>
                <button><a th:href="@{/user/logout}">로그아웃</a></button>
            </div>

            <div class="profile-info">
                <div class="profile-info-top">
                    <p>일촌 ON</p>
                    <p>쪽지</p>
                </div>
                <div class="profile-info-main">
                    <div class="profile-info-img">
                        <img src="https://w.namu.la/s/cfdb7644478e28c31fc1a36bf3bb7d567c50369071414650bc8b54bd38bb8f828f83d6c825ece60af02d993d9f9ea6bdb3049734f704ec3395895ca7b920f224fe3df152cc46617fff3703c199b01f24e3c05ead187e1495bbe822dbda0fa5a7b4fc0e646bd7be633b2fac67608f09e6"
                             alt=""/>
                    </div>
                    <div class="profile-info-count">
                        <p>오늘 방문자</p>
                        <p>새 게시물</p>
                        <p>일촌 신청</p>
                        <p>초대</p>
                        <div class="profile-info-count-dotori"><img
                                src="https://previews.123rf.com/images/fayethequeen/fayethequeen1611/fayethequeen161100005/68882734-acorn-kawaii-niedliche-cartoon-icon-acorn-charakter-kawaii-flach-getrennt-design-vector-abbildung-st.jpg"
                                alt=""> 0개
                            <button>충전</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="profile-info-bottom">
                <button class="profile-go-to-home" th:data-iuser="${loginUserPk}">내 미니홈피 가기</button>
                <select class="profile-select">
                    <option value="0">친구1</option>
                    <option value="1">친구2</option>
                    <option value="2">친구3</option>
                </select>
            </div>
        </div>

        <div th:unless="${loginUserPk > 0}" class="login">
            <div class="login-img-box">
                <img class="login-img" src="https://cdn.senmoney.co.kr/news/photo/202006/1999_2098_4524.jpg" alt=""/>
            </div>
            <form method="post" action="/">
            <div class="login-section">

                <div class="login-input">
                    <input type="text" name="email" placeholder="아이디를 입력하세요."/>
                    <input type="password" name="upw" placeholder="비밀번호를 입력하세요."/>
                </div>
                <div class="login-btn">
                    <button type="submit">로그인</button>
                </div>
            </div>
            <div class="login_error_teg" th:text="${#request.getAttribute('errorMessage')}">

            </div>
            </form>
            <div class="join-section">
                <button><a class="join-btn" href="/user/join">회원가입</a></button>
            </div>
        </div>

        <div class="on-friends">
            <h3>접속 중인 친구</h3>
            <p>주영</p>
            <p>언수</p>
            <p>수아</p>
            <p>유영</p>
            <p>동규</p>

        </div>

        <div class="service">
            <h3>싸이월드 서비스</h3>
            <p>미니홈피</p>
            <p>쇼핑</p>
            <p>친구 찾기</p>
        </div>

        <div id="map" style="width:260px;height:260px;"></div>
        <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a584728120e818fe29164943cc496c04"></script>
    </div>

    <div class="main-container">

        <div class="main-container-img">
            <img src="https://www.kukinews.com/data/kuk/image/2021/04/13/kuk202104130381.680x.0.jpg" alt=""/>
        </div>
        <div class="news-container">
            <div class="news-top">
                <h5>뉴스</h5>
                <div>
                    <input type="text" class="news-search" placeholder="뉴스를 검색하세요.">
                    <button class="news-search-button">검색</button>
                </div>
            </div>
            <div class="main-news">

            </div>
        </div>
        <div class="main-webtoons">
            <div class="webtoon-top">
                <h5>웹툰</h5>
                <div class="webtoon-move-btn">
                    <button class="webtoon-prev-btn">이전</button>
                    <button class="webtoon-next-btn">다음</button>
                </div>
            </div>
            <div class="webtoon-list">

            </div>
        </div>

        <div class="main-movie">
            <div class="movie-top">
                <h5>영화</h5>
                <div class="movie-move-btn">
                    <button class="movie-prev-btn">이전</button>
                    <button class="movie-next-btn">다음</button>
                </div>
            </div>
            <div class="movie-list">

            </div>

        </div>
    </div>

    <div class="right-container">
        <div class="top-visitor">
            <h3>방문자 TOP</h3>
            <p>유영</p>
            <p>수아</p>
            <p>동규</p>
            <p>언수</p>
            <p>주영</p>
        </div>
        <div class="top-content">
            <h3>게시글 TOP</h3>
            <p>피카츄</p>
            <p>라이츄</p>
            <p>파이리</p>
            <p>꼬부기</p>
            <p>버터플</p>

        </div>

        <div class="top-friend">
            <h3>친구 TOP</h3>
            <p>유영</p>
            <p>수아</p>
            <p>동규</p>
            <p>언수</p>
            <p>주영</p>

        </div>

    </div>

</div>
</th:block>

<script src="../../static/js/main/main.js"></script>
</body>
</html>